@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html >
<head>
    <title>Choose a Year Range</title>
</head>
<body>
    <h1>"Time" Machine</h1>
</body>